sudo: required
services:
  - docker

script:
  - docker build -t mannydesigns/react-example .
  - docker images mannydesigns/react-example

before_deploy:
  - docker login -u mannydesigns -p 
  - docker images mannydesigns/react-example

deploy:
  provider: script
  script: docker push mannydesigns/react-example
  on:
    branch: master
